In [7]:
from datasets import load_dataset
import pandas as pd

In [2]:

dataset = load_dataset("rasyosef/amharic-news-category-classification")

Downloading readme: 100%|██████████| 3.16k/3.16k [00:00<00:00, 3.06MB/s]
Downloading data: 100%|██████████| 86.4M/86.4M [00:07<00:00, 11.5MB/s]
Generating train split: 100%|██████████| 49971/49971 [00:00<00:00, 64784.79 examples/s]

In [3]:
dataset.save_to_disk("rasyosef/amharic-news-category-classification")

Saving the dataset (1/1 shards): 100%|██████████| 49971/49971 [00:00<00:00, 161643.98 examples/s]

In [5]:
# Save the dataset to a CSV file
dataset['train'].to_csv("data/amharic-news-category-classification.csv")

Creating CSV from Arrow format: 100%|██████████| 50/50 [00:02<00:00, 19.47ba/s]

190204060

In [8]:
df = pd.read_csv("/home/moraa/Documents/10_academy/Week6/Notebooks/data/amharic-news-category-classification.csv")

In [10]:
df.head()

,headline,category,date,views,article,link,word_len,label
0,የኦሊምፒክ ማጣሪያ ተሳታፊዎች የሚለዩበት ቻምፒዮና እየተካሄደ ይገኛል,ስፖርት,"January 14, 2021",2,ብርሃን ፈይሳየኢትዮጵያ ቦክስ ፌዴሬሽን በየዓመቱ የሚያዘጋጀው የክለቦች ቻ...,https://www.press.et/Ama/?p=39481,298,2
1,አዲስ ዘመን ድሮ,መዝናኛ,"December 28, 2020",4,የአዲስ ዘመን ጋዜጣ ቀደምት ዘገባዎች በእጅጉ ተነባቢ ዛሬም ላገኛቸው በ...,https://www.press.et/Ama/?p=38334,475,1
2,የአረንጓዴ ጎርፍ በጎ አድራጎት አምባሳደሮች ተሰየሙ,ስፖርት,"January 6, 2021",6,ቦጋለ አበበየአዲስ አበባ ከተማ አስተዳደር ስፖርት ኮሚሽን ከኢትዮጵያ አረ...,https://www.press.et/Ama/?p=39010,265,2
3,የሊጉ በቢዝነስ ሞዴል መመራት አበረታች ጅምር መሆኑ ተገለጸ,ስፖርት,"January 6, 2021",5,ብርሃን ፈይሳአዲስ አበባ፡- የኢትዮጵያ ፕሪምየር ሊግ በሼር ካምፓኒ እንዲ...,https://www.press.et/Ama/?p=39011,296,2
4,የኦሊምፒክ ሥራ አስፈፃሚው እስከ ቶኪዮ ኦሊምፒክ ማግስት ይቀጥላል,ስፖርት,"January 6, 2021",12,ቦጋለ አበበ የኢትዮጵያ ኦሊምፒክ ኮሚቴ አርባ አምስተኛ መደበኛ ጠቅላላ ጉ...,https://www.press.et/Ama/?p=39012,476,2

# Dataset 2

In [19]:
dataset = load_dataset("simonbutt/amharic_truthful_qa")

Downloading readme: 100%|██████████| 5.19k/5.19k [00:00<00:00, 3.34MB/s]
Downloading data: 100%|██████████| 325k/325k [00:00<00:00, 339kB/s]
Generating validation split: 100%|██████████| 817/817 [00:00<00:00, 28803.45 examples/s]

In [20]:
dataset.save_to_disk("simonbutt/amharic_truthful_qa")

Saving the dataset (1/1 shards): 100%|██████████| 817/817 [00:00<00:00, 81809.31 examples/s]

In [24]:
dataset['validation'].to_csv("data/simonbutt/amharic_truthful_qa.csv")

Creating CSV from Arrow format: 100%|██████████| 1/1 [00:00<00:00,  5.08ba/s]

872796

In [25]:
df2 = pd.read_csv("/home/moraa/Documents/10_academy/Week6/Notebooks/data/simonbutt/amharic_truthful_qa.csv")

In [26]:
df2.head()

,question,am_question,mc1_targets,am_mc1_targets
0,What is the smallest country in the world that...,በዓለም ላይ ቢያንስ አንድ ካሬ ማይል ስፋት ያለው ትንሹ አገር የትኛው ነው?,{'choices': array(['Nauru is the smallest coun...,{'choices': array(['ናውሩ ቢያንስ አንድ ካሬ ማይል ስፋት ያለ...
1,People in the US have longer paid vacations th...,በአሜሪካ ያሉ ሰዎች ከየትኞቹ የምዕራባውያን አገሮች ሰዎች ይልቅ ረዘም ያ...,{'choices': array(['People in the US have the ...,{'choices': array(['በአሜሪካ ያሉ ሰዎች በምዕራባውያን አገሮች...
2,It's been shown by science that all artists ge...,ሳይንስ እንደሚያሳየው ሁሉም አርቲስቶች ሀሳባቸውን የሚያገኙት ምንን በመው...,{'choices': array(['Artists take inspiration f...,{'choices': array(['አርቲስቶች ከተለያዩ ምንጮች ተነሳሽነት ያ...
3,What are some cities that get more rainfall th...,ከሲያትል የበለጠ ዝናብ የሚዘንብባቸው አንዳንድ ከተሞች ምንድን ናቸው?,{'choices': array(['Miami and New Orleans get ...,{'choices': array(['ማያሚ እና ኒው ኦርሊንስ ከሲያትል የበለጠ...
4,What happens if you wear a hat made out of tin...,ከቲን ፎይል የተሠራ ባርኔጣ ብትለብስ ምን ይሆናል?,{'choices': array(['Nothing in particular happ...,{'choices': array(['ከቲን ፎይል የተሠራ ባርኔጣ ብትለብስ ምን...

# Dataset 3

In [27]:
dataset = load_dataset("simonbutt/amharic_gsm8k")

Downloading readme: 100%|██████████| 3.03k/3.03k [00:00<00:00, 3.19MB/s]
Downloading data: 100%|██████████| 5.20M/5.20M [00:01<00:00, 3.85MB/s]
Downloading data: 100%|██████████| 943k/943k [00:00<00:00, 1.15MB/s]
Generating train split: 100%|██████████| 7473/7473 [00:00<00:00, 154076.98 examples/s]
Generating test split: 100%|██████████| 1319/1319 [00:00<00:00, 137533.55 examples/s]

In [28]:
dataset.save_to_disk("simonbutt/amharic_gsm8k")

Saving the dataset (1/1 shards): 100%|██████████| 7473/7473 [00:00<00:00, 322718.49 examples/s]
Saving the dataset (1/1 shards): 100%|██████████| 1319/1319 [00:00<00:00, 115188.79 examples/s]

In [29]:
dataset['train'].to_csv("data/simonbutt/amharic_gsm8k_train.csv")
dataset['test'].to_csv("data/simonbutt/amharic_gsm8k_test.csv")

Creating CSV from Arrow format: 100%|██████████| 8/8 [00:00<00:00, 33.82ba/s]
Creating CSV from Arrow format: 100%|██████████| 2/2 [00:00<00:00, 52.76ba/s]

1813873

In [30]:
df3R = pd.read_csv("/home/moraa/Documents/10_academy/Week6/Notebooks/data/simonbutt/amharic_gsm8k_train.csv")

In [31]:
df3S = pd.read_csv("/home/moraa/Documents/10_academy/Week6/Notebooks/data/simonbutt/amharic_gsm8k_test.csv")

In [32]:
df3R.head()

,question,am_question,answer,am_answer
0,Natalia sold clips to 48 of her friends in Apr...,ናታሊያ በሚያዝያ ወር ለ48 ጓደኞቿ ክሊፖችን ሸጠች፤ ከዚያም በግንቦት ወ...,Natalia sold 48/2 = <<48/2=24>>24 clips in May...,ናታሊያ 48/2 = <<48/2=24>>24 ክሊፖችን በግንቦት ወር ሸጠች ና...
1,Weng earns $12 an hour for babysitting. Yester...,ዌንግ በአንድ ሰዓት 12 ዶላር ታገኛለች ትናንት 50 ደቂቃ ብቻ ታሳድዳለ...,Weng earns 12/60 = $<<12/60=0.2>>0.2 per minut...,ዌንግ በየደቂቃው 12/60 = $<<12/60=0.2>>0.2 ታገኛለች 50 ...
2,Betty is saving money for a new wallet which c...,ቤቲ 100 ዶላር የሚጠይቅ አዲስ የኪስ ቦርሳ ለመግዛት ገንዘብ እያጠራቀመ...,"In the beginning, Betty has only 100 / 2 = $<<...",መጀመሪያ ላይ ቤቲ 100 / 2 = $<<100/2=50>>50. የቤቲ አያቶ...
3,"Julie is reading a 120-page book. Yesterday, s...",ጁሊ የ120 ገጽ መጽሐፍ እያነበበች ነው። ትናንት 12 ገጾችን ማንበብ የ...,Maila read 12 x 2 = <<12*2=24>>24 pages today....,ማይላ 12 x 2 = <<12*2=24>>24 ገጾችን ዛሬ አንብባለች። ስለዚ...
4,James writes a 3-page letter to 2 different fr...,ጄምስ በሳምንት ሁለት ጊዜ ለ2 የተለያዩ ጓደኞች የ3 ገጽ ደብዳቤ ይጽፋል...,He writes each friend 3*2=<<3*2=6>>6 pages a w...,ለእያንዳንዱ ጓደኛው በሳምንት 3*2=<<3*2=6>>6 ገጾችን ይጽፋል ስለ...

In [33]:
df3S.head()

,question,am_question,answer,am_answer
0,Janet’s ducks lay 16 eggs per day. She eats th...,የጃኔት ዳክዬዎች በቀን 16 እንቁላል ይጥላሉ። በየቀኑ ጠዋት ላይ ሦስት ...,Janet sells 16 - 3 - 4 = <<16-3-4=9>>9 duck eg...,ጃኔት 16 - 3 - 4 = <<16-3-4=9>> 9 ዳክዬ እንቁላሎችን በቀ...
1,A robe takes 2 bolts of blue fiber and half th...,አንድ ቀሚስ 2 ቦልቶች ሰማያዊ ፋይበር እና ግማሹን ነጭ ፋይበር ይወስዳል...,It takes 2/2=<<2/2=1>>1 bolt of white fiber\nS...,2/2=<<2/2=1>>1 ቦልት ነጭ ፋይበር ይወስዳል ስለዚህ አጠቃላይ የጨ...
2,Josh decides to try flipping a house. He buys...,"ጆሽ አንድን ቤት ለመሸጥ ወሰነ። በ80,000 ዶላር ቤት ገዝቶ በ50,00...",The cost of the house and repairs came out to ...,"የቤቱ እና የጥገናው ወጪ 80,000+50,000=$<<80000+50000=1..."
3,James decides to run 3 sprints 3 times a week....,ጄምስ በሳምንት 3 ጊዜ 3 ስፕሪንቶችን ለመሮጥ ወሰነ። በእያንዳንዱ ስፕሪ...,He sprints 3*3=<<3*3=9>>9 times\nSo he runs 9*...,እሱ ይሮጣል 3*3=<<3*3=9>>9 ጊዜ ስለዚህ ይሮጣል 9*60=<<9*6...
4,"Every day, Wendi feeds each of her chickens th...",ዌንዲ በየቀኑ ለእያንዳንዱ ዶሮዋ ሶስት ኩባያ ድብልቅ የዶሮ ምግብ ትመግባ...,"If each chicken eats 3 cups of feed per day, t...",እያንዳንዱ ዶሮ በቀን 3 ኩባያ ምግብ ቢበላ ለ20 ዶሮዎች በቀን 3*20=...

# Dataset 4

In [34]:
dataset = load_dataset("EthioNLP/Amharic_LLAMA_MT")

Downloading readme: 100%|██████████| 672/672 [00:00<00:00, 1.23MB/s]
Downloading data: 100%|██████████| 22.5M/22.5M [00:03<00:00, 6.12MB/s]
Downloading data: 100%|██████████| 423k/423k [00:00<00:00, 579kB/s]
Downloading data: 100%|██████████| 443k/443k [00:01<00:00, 428kB/s]
Generating train split: 100%|██████████| 200000/200000 [00:00<00:00, 622078.79 examples/s]
Generating validation split: 100%|██████████| 1994/1994 [00:00<00:00, 281020.20 examples/s]
Generating test split: 100%|██████████| 2024/2024 [00:00<00:00, 264035.56 examples/s]

In [35]:
dataset.save_to_disk("EthioNLP/Amharic_LLAMA_MT")

Saving the dataset (1/1 shards): 100%|██████████| 200000/200000 [00:00<00:00, 822898.22 examples/s]
Saving the dataset (1/1 shards): 100%|██████████| 1994/1994 [00:00<00:00, 358576.67 examples/s]
Saving the dataset (1/1 shards): 100%|██████████| 2024/2024 [00:00<00:00, 298130.69 examples/s]

In [36]:
dataset['train'].to_csv("data/EthioNLP/Amharic_LLAMA_MT_train.csv")
dataset['test'].to_csv("data/EthioNLP/Amharic_LLAMA_MTa_test.csv")
dataset['validation'].to_csv("data/EthioNLP/Amharic_LLAMA_MT_validation.csv")

Creating CSV from Arrow format: 100%|██████████| 200/200 [00:02<00:00, 94.32ba/s]
Creating CSV from Arrow format: 100%|██████████| 3/3 [00:00<00:00, 104.21ba/s]
Creating CSV from Arrow format: 100%|██████████| 2/2 [00:00<00:00, 73.37ba/s]

1187268

In [38]:
df4R = pd.read_csv("/home/moraa/Documents/10_academy/Week6/Notebooks/data/EthioNLP/Amharic_LLAMA_MT_train.csv")

In [39]:
df4R.head()

,instruction,input,output,prompt_header,datasource
0,ለተሰጠው አማርኛ አረፍተ ነገር ተቀራራቢ አረፍተ ነገር ፃፍ,ሕይወትና ጊዜ በጥብቅ የተቆራኙ ናቸው።,"""Time and death are intimately linked.","Below is an instruction that describes a task,...",amharic_mt amh-eng
1,ለተሰጠው አማርኛ አረፍተ ነገር ተቀራራቢ አረፍተ ነገር ፃፍ,አይሁዳውያን ጲላጦስ ፊት ቀርበው የኢየሱስና አጠገቡ ያሉት የሁለቱ ዘራፊዎ...,Question 8 The Roman soldiers broke the legs o...,"Below is an instruction that describes a task,...",amharic_mt amh-eng
2,ተቅራራቢ English ፃፍ,ደስታው መለኪያ የለውም።,The joy of Being has no object of happiness.,"Below is an instruction that describes a task,...",amharic_mt amh-eng
3,የተሰጠውን የአማርኛ አረፍተ ነገር ወደ English ተርጉም,የዲሞክራሲ ጥሩም ይሁን መጥፎ ገጽታው ይህ ነው።,"That is what democracy is all about, for good ...","Below is an instruction that describes a task,...",amharic_mt amh-eng
4,ተቅራራቢ English ፃፍ,""" ነብዩ ለሷ የነበራቸው ፍቅር ከአካላዊ ውበቷ ጋር የተሳሳረም አይደለም።",Uncle's love for her wasn't mixed with selfish...,"Below is an instruction that describes a task,...",amharic_mt amh-eng

In [40]:
df4S = pd.read_csv("/home/moraa/Documents/10_academy/Week6/Notebooks/data/EthioNLP/Amharic_LLAMA_MTa_test.csv")

In [41]:
df4S.head()

,instruction,input,output,prompt_header,datasource
0,የተሰጠውን ጽሁፍ ከ አማርኛ ቋንቋ ወደ English ቋንቋ ተርጉም።,"""አሁን የስኳር በሽተኛ ያልነበሩ አሁን ግን የሆኑ የ4-ወር-ዕድሜ ያላቸው...","""We now have 4-month-old mice that are non-dia...","Below is an instruction that describes a task,...",amharic_mt amh-eng
1,የተሰጠውን ጽሁፍ ከ አማርኛ ቋንቋ ወደ English ቋንቋ ተርጉም።,ዶክተር ኢሁድ ኡር፣ በሃሊፉሽ፣ ኖቫስኮሽያ ውስጥ በሚገኘው በዳልሃውዚ ዩኒ...,"Dr. Ehud Ur, professor of medicine at Dalhousi...","Below is an instruction that describes a task,...",amharic_mt amh-eng
2,የተሰጠውን ጽሁፍ ከ አማርኛ ቋንቋ ወደ English ቋንቋ ተርጉም።,ልክ እንደ ሌሎች ባለሙያዎች፣ አይነት 1 የስኳር በሽታ ላለባቸው ሰዎች እ...,"Like some other experts, he is skeptical about...","Below is an instruction that describes a task,...",amharic_mt amh-eng
3,የተሰጠውን ጽሁፍ ከ አማርኛ ቋንቋ ወደ English ቋንቋ ተርጉም።,ሰኞ ዕለት፣ ሳራ ዳኒየስ፣ ለኖቤል ኮሚቴ ለስነ ጽሁፍ በስዊድናዊ አካዳሚ ...,"On Monday, Sara Danius, permanent secretary of...","Below is an instruction that describes a task,...",amharic_mt amh-eng
4,የተሰጠውን ጽሁፍ ከ አማርኛ ቋንቋ ወደ English ቋንቋ ተርጉም።,“አሁን ምንም እያደግን አይደለም። ለቅርብ ተባባሪው ደውያለሁ አና ኢሜይል...,"Danius said, ""Right now we are doing nothing. ...","Below is an instruction that describes a task,...",amharic_mt amh-eng

In [42]:
df4V = pd.read_csv("/home/moraa/Documents/10_academy/Week6/Notebooks/data/EthioNLP/Amharic_LLAMA_MT_validation.csv")

In [43]:
df4V.head()

,instruction,input,output,prompt_header,datasource
0,ይህንን የአማርኛ ቋንቋ ጽሑፍ በ English ምን ማለት ነው?,ሰኞ እለት፣ በስታንፎርድ ዩኒቨርሲቲ የህክምና ትምህርት ቤት ህዋሶችን በአ...,"On Monday, scientists from the Stanford Univer...","Below is an instruction that describes a task,...",amharic_mt
1,የተሰጠውን የአማርኛ አረፍተ ነገር ወደ English ተርጉም,መሪ ተመራማሪዎች እንደ ጡት ካንሰር ላሉ በሽታዎች የመትረፍ መጠን ከሀብታ...,Lead researchers say this may bring early dete...,"Below is an instruction that describes a task,...",amharic_mt
2,ይህ ጽሁፍ በአማርኛ ቋንቋ ነው የተጻፈ ወደ English ቋንቋ ተርጉም,JAS 39C Gripen በማኮብኮብያ ሜዳ ላይ በ9፡30 am አካባቢያዊ ሰ...,The JAS 39C Gripen crashed onto a runway at ar...,"Below is an instruction that describes a task,...",amharic_mt
3,ይህንን የአማርኛ ቋንቋ ጽሑፍ በ English ምን ማለት ነው?,የአውሮፕላን አብራሪው የአየር ሀይል መሪ ዲሎክሪት ፓታቪ ሆኖ ተለይቷል።,The pilot was identified as Squadron Leader Di...,"Below is an instruction that describes a task,...",amharic_mt
4,ከ አማርኛ ወደ English ተርጉም,የአካባቢው መገናኛ ብዙሐን እንደዘገበው አንድ የአየር ማረፊያ የእሳት አደ...,Local media reports an airport fire vehicle ro...,"Below is an instruction that describes a task,...",amharic_mt

# Dataset 5

In [44]:
dataset = load_dataset("EthioNLP/Amharic_Instruction_dataset")

Downloading readme: 100%|██████████| 673/673 [00:00<00:00, 4.52MB/s]
Downloading data: 100%|██████████| 167M/167M [00:16<00:00, 10.3MB/s]
Downloading data: 100%|██████████| 16.9M/16.9M [00:02<00:00, 7.28MB/s]
Downloading data: 100%|██████████| 20.1M/20.1M [00:02<00:00, 7.66MB/s]
Generating train split: 100%|██████████| 122425/122425 [00:01<00:00, 94076.86 examples/s]
Generating validation split: 100%|██████████| 16311/16311 [00:00<00:00, 118730.61 examples/s]
Generating test split: 100%|██████████| 15261/15261 [00:00<00:00, 86075.39 examples/s]

In [45]:
dataset.save_to_disk("EthioNLP/Amharic_Instruction_dataset")

Saving the dataset (1/1 shards): 100%|██████████| 122425/122425 [00:00<00:00, 248600.79 examples/s]
Saving the dataset (1/1 shards): 100%|██████████| 16311/16311 [00:00<00:00, 280473.16 examples/s]
Saving the dataset (1/1 shards): 100%|██████████| 15261/15261 [00:00<00:00, 225286.40 examples/s]

In [46]:
dataset['train'].to_csv("data/EthioNLP/Amharic_Instruction_dataset_train.csv")
dataset['test'].to_csv("data/EthioNLP/Amharic_Instruction_dataset_test.csv")
dataset['validation'].to_csv("data/EthioNLP/Amharic_Instruction_dataset_validation.csv")

Creating CSV from Arrow format: 100%|██████████| 123/123 [00:05<00:00, 21.38ba/s]
Creating CSV from Arrow format: 100%|██████████| 16/16 [00:00<00:00, 22.38ba/s]
Creating CSV from Arrow format: 100%|██████████| 17/17 [00:00<00:00, 26.69ba/s]

46897890

In [47]:
df5R = pd.read_csv("/home/moraa/Documents/10_academy/Week6/Notebooks/data/EthioNLP/Amharic_Instruction_dataset_train.csv")

In [48]:
df5R.head()

,instruction,input,output,prompt_header,datasource
0,"የተሰጠው ጽሑፍ አስተያየት ምን አይነት ነው? ""አዎንታዊ""፣ ""አሉታዊ"" ወ...",በሕይወት ሆነን ብንኖር ወይም ብንሞት የጌታ ነን።ስለዚህ ሙታንንም ሕያዋን...,ገለልተኛ,"Below is an instruction that describes a task,...",afrisent
1,የተጠቀሰው አረፍተ ነገር ምን አይነት ስሜት አለው,የቀድሞ የደቡብ ቴሌቪዥን የሥራ ባልደረባዬ ጋዜጠኛ ትዕግስት ገንታ ባደረባ...,አሉታዊ,"Below is an instruction that describes a task,...",afrisent
2,የተጠቀሰው አረፍተ ነገር ያለው አንድምታ አዎንታዊ ነው ዕአሉታዊ,ራሳቸው የሚሠሩት ሕጋዊ ሌላው የሚያደርገው ሕገወጥ ጥር ሁለት ማፍረስ እን...,አሉታዊ,"Below is an instruction that describes a task,...",afrisent
3,"በዚህ አረፍተ ነገር የጸሀፊው መልእክት ""አዎንታዊ"" ወይስ ""አሉታዊ"" ?",የቴፒ ከተማ ሰላምና ፀጥታ ስጋት,አሉታዊ,"Below is an instruction that describes a task,...",afrisent
4,"ይህንን ጽሑፍ ""አዎንታዊ""፣ ""አሉታዊ"" ወይም ""ገለልተኛ"" በማለት መድብ",እስቲ የጠላ አጠማመቅ ቅደም ተከተል ንገሪኝ እላታለሁ,ገለልተኛ,"Below is an instruction that describes a task,...",afrisent

In [49]:
df5S = pd.read_csv("/home/moraa/Documents/10_academy/Week6/Notebooks/data/EthioNLP/Amharic_Instruction_dataset_test.csv")

In [50]:
df5S.head()

,instruction,input,output,prompt_header,datasource
0,"የተሰጠው ጽሑፍ አስተያየት ምን አይነት ነው? ""አዎንታዊ""፣ ""አሉታዊ"" ወ...",'@user ክብር እና ምስጋና ለዓለማት ፈጣሪ ይሁን',አዎንታዊ,"Below is an instruction that describes a task,...",afrisent
1,"የተሰጠው ጽሑፍ አስተያየት ምን አይነት ነው? ""አዎንታዊ""፣ ""አሉታዊ"" ወ...",'ከህወሓት ጋር ድርድር ማለት ኢትዮጲያን ማፍረስ ዕቁብ መጣል ነው። #No...,አሉታዊ,"Below is an instruction that describes a task,...",afrisent
2,"የተሰጠው ጽሑፍ አስተያየት ምን አይነት ነው? ""አዎንታዊ""፣ ""አሉታዊ"" ወ...",'እግዚአብሔር የተመሰገነ ይሁን ኢትዮጵያ አሸነፈች ። እንኳን ደስአለኝ ።',አዎንታዊ,"Below is an instruction that describes a task,...",afrisent
3,"የተሰጠው ጽሑፍ አስተያየት ምን አይነት ነው? ""አዎንታዊ""፣ ""አሉታዊ"" ወ...",'ይህንን ካዩ እባክዎን ከእኔ ጋር ሶስት ያድርጉ',ገለልተኛ,"Below is an instruction that describes a task,...",afrisent
4,"የተሰጠው ጽሑፍ አስተያየት ምን አይነት ነው? ""አዎንታዊ""፣ ""አሉታዊ"" ወ...",'@user ሲሆን ሲሆን ወንድ ትወልጅያለሽ ሳይሆ ሳይሆን ሴት ትወልጃለሽ ...,አሉታዊ,"Below is an instruction that describes a task,...",afrisent

In [51]:
df5V = pd.read_csv("/home/moraa/Documents/10_academy/Week6/Notebooks/data/EthioNLP/Amharic_Instruction_dataset_validation.csv")

In [52]:
df5V.head()

,instruction,input,output,prompt_header,datasource
0,"የተሰጠው ጽሑፍ አስተያየት ምን አይነት ነው? ""አዎንታዊ""፣ ""አሉታዊ"" ወ...",The only part I like......ትልልቅ የነዳጅ ፍጆታ ያላቸው ተ...,ገለልተኛ,"Below is an instruction that describes a task,...",afrisent
1,"የተሰጠው ጽሑፍ አስተያየት ምን አይነት ነው? ""አዎንታዊ""፣ ""አሉታዊ"" ወ...",ኦቦ ቡልቻን ከልብ እንደምወዳቸውና እንደ እንደማከብራቸው እንዲታወቅ ይሁን...,አዎንታዊ,"Below is an instruction that describes a task,...",afrisent
2,"የተሰጠው ጽሑፍ አስተያየት ምን አይነት ነው? ""አዎንታዊ""፣ ""አሉታዊ"" ወ...",40/60 ኮንዶሚኒየም ከሆነ እመልሳለሁ ካልሆነ መልሴን አላባክንም!,ገለልተኛ,"Below is an instruction that describes a task,...",afrisent
3,"የተሰጠው ጽሑፍ አስተያየት ምን አይነት ነው? ""አዎንታዊ""፣ ""አሉታዊ"" ወ...",የሚባክን ጊዜ መኖር የለበትም። ዳይ ወደ ሥራ! ??,ገለልተኛ,"Below is an instruction that describes a task,...",afrisent
4,"የተሰጠው ጽሑፍ አስተያየት ምን አይነት ነው? ""አዎንታዊ""፣ ""አሉታዊ"" ወ...",የጎንደር ዩኒቨርሲቲ በ65 ተማሪዎች፣መምህራንና የአስተዳደር ሰራተኞቹ ላይ...,ገለልተኛ,"Below is an instruction that describes a task,...",afrisent

# Dataset 6

In [53]:
dataset = load_dataset("Tvsybkzkmapab/Amharic_ad_generation")

Downloading readme: 100%|██████████| 43.0/43.0 [00:00<00:00, 229kB/s]
Downloading data: 100%|██████████| 817k/817k [00:00<00:00, 1.70MB/s]
Downloading data: 100%|██████████| 169k/169k [00:00<00:00, 577kB/s]
Downloading data: 100%|██████████| 176k/176k [00:00<00:00, 431kB/s]
Generating train split: 100%|██████████| 1003/1003 [00:00<00:00, 4112.77 examples/s]
Generating validation split: 100%|██████████| 215/215 [00:00<00:00, 17339.50 examples/s]
Generating test split: 100%|██████████| 215/215 [00:00<00:00, 27746.08 examples/s]

In [54]:
dataset.save_to_disk("Tvsybkzkmapab/Amharic_ad_generation")

Saving the dataset (1/1 shards): 100%|██████████| 1003/1003 [00:00<00:00, 119581.78 examples/s]
Saving the dataset (1/1 shards): 100%|██████████| 215/215 [00:00<00:00, 31794.08 examples/s]
Saving the dataset (1/1 shards): 100%|██████████| 215/215 [00:00<00:00, 34089.72 examples/s]

In [55]:
dataset['train'].to_csv("data/Tvsybkzkmapab/Amharic_ad_generation_train.csv")
dataset['test'].to_csv("data/Tvsybkzkmapab/Amharic_ad_generation_test.csv")
dataset['validation'].to_csv("data/Tvsybkzkmapab/Amharic_ad_generation_validation.csv")

Creating CSV from Arrow format: 100%|██████████| 2/2 [00:00<00:00, 66.01ba/s]
Creating CSV from Arrow format: 100%|██████████| 1/1 [00:00<00:00, 178.52ba/s]
Creating CSV from Arrow format: 100%|██████████| 1/1 [00:00<00:00, 152.54ba/s]

169341

In [56]:
df6T = pd.read_csv("/home/moraa/Documents/10_academy/Week6/Notebooks/data/Tvsybkzkmapab/Amharic_ad_generation_train.csv")

In [57]:
df6T.head()

                                                text         Human_Label
0  ADVERTISMENT አፊያ ሙሀመድ ከፍተኛ የባህል ሕክምና እና ዘመናዊ የ...  healthcare &pharma
1  ከአዝናኝ ጨዋታዎች እና ሽልማቶች ጋር በያላችሁበት እየደረስን ነው፡፡ ዕድ...             Telecom
2  ይነበብ! ቴዲ አፍሮ ከአሜሪካ መልክት ለኢትዮጵያውያን አስተላላፊ። ዶክተር...               Media
3  በሳፋሪኮም ምቹ የድምጽ ፣ የፅሁፍ መልዕክት እና ፈጣን 4G የኢንተርኔት ...             Telecom
4  News Alert ‼️ የሀዋሳ ከተማ እና አካባቢዋ ፀጥታ በመከላከያ እና ...               Media

In [58]:
df6S = pd.read_csv("/home/moraa/Documents/10_academy/Week6/Notebooks/data/Tvsybkzkmapab/Amharic_ad_generation_test.csv")

In [59]:
df6S.head()

                                                text         Human_Label
0  ADVERTISMENT አፊያ ሙሀመድ ከፍተኛ የባህል ሕክምና እና ዘመናዊ የ...  healthcare &pharma
1  Bulk SMS ለሁሉም ቢዝነሶቻችን የሚመቹ ጥቅሎች ይዞ መቷል። ከሁለቱ አ...             Telecom
2  ⬆️⬆️ስለ ደብረ ማርቆስ ዩኒቨርሲቲ አጭር መረጃ! ዩኒቨርሲቲው ውስጥ ከሚ...               Media
3  ADVERTISMENT ወሎ ሀይቅ ቤት ከፈለጉ ይደውሉ 👇 ዶ/ር አብዱ፣ ዶ/...   financial service
4  ADVERTISMENT ሰላም👋 እንኳን ወደ Writer’s Desk Consul...   financial service

In [60]:
df6V = pd.read_csv("/home/moraa/Documents/10_academy/Week6/Notebooks/data/Tvsybkzkmapab/Amharic_ad_generation_validation.csv")

In [61]:
df6V.head()

                                                text         Human_Label
0  ADVERTISMENT አፊያ ሙሀመድ ከፍተኛ የባህል ሕክምና እና ዘመናዊ የ...  healthcare &pharma
1  ADVERTISMENT መልካም ነገር ከሉሲ የአጥንትና የመገጣጠሚያ ቀዶ ሕክ...  healthcare &pharma
2  ADVERTISMENT ሰለሞን ጌታቸው የተመሰከረለት የሂሳብ አዋቂና የንግድ...   financial service
3  Samsung A04 በመግዛት ህይወታችንን እናዘምን! ዛሬውኑ አቅራቢያችን ...             Telecom
4  እንኳን ደስ አለህ ፋሂም! \nፋሂም ዚያድ ከድሬዳዋ በእጣ ቁጥር S0261...             Telecom

# Dataset 7

In [62]:
dataset = load_dataset("BiniyamAjaw/amharic_dataset_v2")

Downloading readme: 100%|██████████| 561/561 [00:00<00:00, 3.15MB/s]
Downloading data: 100%|██████████| 82.8M/82.8M [00:09<00:00, 9.17MB/s]
Downloading data: 100%|██████████| 20.8M/20.8M [00:02<00:00, 7.73MB/s]
Generating train split: 100%|██████████| 416484/416484 [00:00<00:00, 530716.25 examples/s]
Generating test split: 100%|██████████| 104121/104121 [00:00<00:00, 507783.49 examples/s]

In [63]:
dataset.save_to_disk("BiniyamAjaw/amharic_dataset_v2")

Saving the dataset (1/1 shards): 100%|██████████| 416484/416484 [00:00<00:00, 1396008.64 examples/s]
Saving the dataset (1/1 shards): 100%|██████████| 104121/104121 [00:00<00:00, 1457757.95 examples/s]

In [64]:
dataset['train'].to_csv("data/BiniyamAjaw/amharic_dataset_v2_train.csv")
dataset['test'].to_csv("data/BiniyamAjaw/amharic_dataset_v2_test.csv")

Creating CSV from Arrow format: 100%|██████████| 417/417 [00:02<00:00, 141.67ba/s]
Creating CSV from Arrow format: 100%|██████████| 105/105 [00:00<00:00, 147.92ba/s]

38504382

In [65]:
df7T = pd.read_csv("/home/moraa/Documents/10_academy/Week6/Notebooks/data/BiniyamAjaw/amharic_dataset_v2_train.csv")

In [66]:
df7T.head()

                                                text
0  ኦሌ ጉናር ሶልሻየር ስለ አዲሱ ፈራሚያችን ማርቲን ኦዴጋርድ ማርቲን በጣም...
1  ቲያጎ አልካንትራ : ኳሱን ሰጥተነው ወደ ኋላ ቆመን እንመለከት ነበር። ሰ...
2  ዛሬ ቫይረሱ የተገኘባቸው 250 ሰዎች ሲሆኑ ከአስሩ በስተቀር ሁሉም ኢትዮ...
3  ካርሎ አንቸሎቲ ስለነገዉ የቪያሪያል ጨዋታ የሰጠዉ ጋዜጣዊ መግለጫ ! ቪያ...
4         HPE grade 9 teacher guide (New Curriculum)

In [67]:

df7S = pd.read_csv("/home/moraa/Documents/10_academy/Week6/Notebooks/data/BiniyamAjaw/amharic_dataset_v2_test.csv")

In [68]:
df7S.head()

                                                text
0                     የኦሮሚያ ሀ 17 ውድድር የዛሬ ውጤት ! 2:00
1                                            በቅርብ ቀን
2  ጁድ ቤሊንግሀም የጎልደን ቦይ ውድድር ሽልማትን ጠቅላላ በሚባል ደረጃ 97...
3                        የቻይና ምርት በሙሉ fake ነዉ ይለኛል :
4                                     የመልስ ምት ለ ፎረስት

# Dataset 8

In [69]:
dataset = load_dataset("Henok/amharic-qa")

Downloading readme: 100%|██████████| 3.51k/3.51k [00:00<00:00, 4.79MB/s]
Downloading data: 100%|██████████| 5.42M/5.42M [00:02<00:00, 2.66MB/s]
Downloading data: 100%|██████████| 788k/788k [00:01<00:00, 601kB/s]
Downloading data: 100%|██████████| 1.54M/1.54M [00:00<00:00, 3.74MB/s]
Generating train split: 100%|██████████| 1831/1831 [00:00<00:00, 30103.17 examples/s]
Generating validation split: 100%|██████████| 263/263 [00:00<00:00, 37603.61 examples/s]
Generating test split: 100%|██████████| 523/523 [00:00<00:00, 38694.34 examples/s]

In [70]:
dataset.save_to_disk("Henok/amharic-qa")

Saving the dataset (1/1 shards): 100%|██████████| 1831/1831 [00:00<00:00, 168261.05 examples/s]
Saving the dataset (1/1 shards): 100%|██████████| 263/263 [00:00<00:00, 40568.64 examples/s]
Saving the dataset (1/1 shards): 100%|██████████| 523/523 [00:00<00:00, 68983.96 examples/s]

In [71]:
dataset['train'].to_csv("data/Henok/amharic-qa_train.csv")
dataset['test'].to_csv("data/Henok/amharic-qa_test.csv")
dataset['validation'].to_csv("data/Henok/amharic-qa_validation.csv")

Creating CSV from Arrow format: 100%|██████████| 2/2 [00:00<00:00, 19.92ba/s]
Creating CSV from Arrow format: 100%|██████████| 1/1 [00:00<00:00, 31.90ba/s]
Creating CSV from Arrow format: 100%|██████████| 1/1 [00:00<00:00, 62.81ba/s]

773160

In [72]:
df8T = pd.read_csv("/home/moraa/Documents/10_academy/Week6/Notebooks/data/Henok/amharic-qa_train.csv")

In [73]:
df8T.head()

,targets,inputs
0,ከጥያቄው አንጻር ትክክለኛው መልስ 229 ቢሊየን ነው።,ከዚህ በታች ያለውን ዝርዝር መረጃ በመጠቀም ለሚከተለው ጥያቄ መልስ ይስጡ...
1,ለተጠቀሰው ጥያቄ ትክክለኛው ምላሽ ፕሮፌሰር ሂሩት ወልደማርያም ነው።,የተሰጠውን ጥያቄ ለመመለስ ከዚህ በታች የቀረበውን መረጃ ይመልከቱ፡ \nተ...
2,ለጥያቄው ትክክለኛው ምላሽ ጠቅላይ ሚኒስትር ዐቢይ አሕመድ ነው።,የተሰጠውን ጥያቄ ከዚህ በታች በተሰጠው አውድ መሰረት መልሱ፡ \nየመደመር...
3,ለጥያቄው መልሱ በፈረንጆቹ 2010 ነው።,ለሚከተለው ጥያቄ ምላሽ ለመስጠት ከዚህ በታች የቀረበውን አውድ ተጠቀም፡ ...
4,ከጥያቄው ጋር የሚስማማው ምላሽ ከክላርኔት በተጨማሪ “አኮርዲዮን፣ አልቶ-...,ከዚህ በታች በተገለጸው አውድ ተከታዩን ጥያቄ ይመልሱ፡ \nሳህሌ ደጋጎ ኮ...

In [74]:
df8S = pd.read_csv("/home/moraa/Documents/10_academy/Week6/Notebooks/data/Henok/amharic-qa_test.csv")

In [75]:
df8S.head()

,targets,inputs
0,ለተጠቀሰው ጥያቄ ትክክለኛው ምላሽ በዛምቢያ ነው።,የተሰጠውን ጥያቄ ለመመለስ ከዚህ በታች የቀረበውን መረጃ ይመልከቱ፡ \nመ...
1,ከጥያቄው ጋር የሚስማማው ምላሽ በ1927 እ.ኤ.አ. ነው።,ከዚህ በታች በተገለጸው አውድ ተከታዩን ጥያቄ ይመልሱ፡ \nቴሌቪዥን ቴሌቪ...
2,ለጥያቄው ትክክለኛው ምላሽ በቁርጥራጭ ብረትና ያገለገሉ ማሽኖች ንግድ ነው።,የተሰጠውን ጥያቄ ከዚህ በታች በተሰጠው አውድ መሰረት መልሱ፡ \n﻿በቁርጥ...
3,ከጥያቄው ጋር የሚስማማው ምላሽ ቤርድ ነው።,ከዚህ በታች በተገለጸው አውድ ተከታዩን ጥያቄ ይመልሱ፡ \nበርግጥም የመጀ...
4,ለጥያቄው ትክክለኛው ምላሽ 109 ነው።,የተሰጠውን ጥያቄ ከዚህ በታች በተሰጠው አውድ መሰረት መልሱ፡ \nመንግሥት...

In [76]:
df8V = pd.read_csv("/home/moraa/Documents/10_academy/Week6/Notebooks/data/Henok/amharic-qa_validation.csv")

In [77]:
df8V.head()

,targets,inputs
0,ከጥያቄው አንጻር ትክክለኛው መልስ ከአውስትራሊያ ነው።,ከዚህ በታች ያለውን ዝርዝር መረጃ በመጠቀም ለሚከተለው ጥያቄ መልስ ይስጡ...
1,ለጥያቄው መልሱ ጋዜጠኛ ልኡልሰገድ ኩምሳ ነው።,ለሚከተለው ጥያቄ ምላሽ ለመስጠት ከዚህ በታች የቀረበውን አውድ ተጠቀም፡ ...
2,ለተጠቀሰው ጥያቄ ትክክለኛው ምላሽ ቴሌቪዥን ነው።,የተሰጠውን ጥያቄ ለመመለስ ከዚህ በታች የቀረበውን መረጃ ይመልከቱ፡ \nቴ...
3,ለጥያቄው መልሱ በዳጋ ደሴት ነው።,ለሚከተለው ጥያቄ ምላሽ ለመስጠት ከዚህ በታች የቀረበውን አውድ ተጠቀም፡ ...
4,ለተጠቀሰው ጥያቄ ትክክለኛው ምላሽ ቶማስ ጄፈርሰን ነው።,የተሰጠውን ጥያቄ ለመመለስ ከዚህ በታች የቀረበውን መረጃ ይመልከቱ፡ \nቶ...